extends ../shared/layout
block scripts
	script.
		var userObj = !{JSON.stringify(user)};
	script(src='/javascripts/pivotal-angular-app/controllers/home.js')
	script(src='/javascripts/pivotal-angular-app/filters/filter.js')
block styles
	style.
		.ng-cloak{display:none;}
block content
	div.content-container.home(ng-app='gePivotalApp',ng-controller='home')
		div
			div.title
				h1= title
			div.user-name 
				img.gravatar(data-ng-cloak, style="width:30px;" data-ng-src="{{gravatarUrl}}", err-src="/images/default-profile.png")
				span
					|Welcome !{user.name}
		div.wrap.cards-container.row
			//-for project in user.projects
			a.card.span_4.radius_06.default-shadow.col-md-4.col-xs-6(data-ng-cloak, data-ng-repeat="project in projects",href='/project/{{project.project_id}}',
				style="")
				//-background:#{{project.project_color}}
				div.bold.card-title(data-ng-bind="project.project_name", style="background:#{{project.project_color}}")
				div.card-inner-container(data-ng-cloak)
					div.margin-tb-10
						|Last Viewed: 
						b(data-ng-bind=" '' | addLastViewed: (project.last_viewed_at)")
							//-{{"" | addLastViewed : (project.last_viewed_at)}}
					div.margin-tb-10
						|Role: 
						b(data-ng-bind="project.role")
					div.color-tag(style="background-color:#{{project.project_color}}")

		